{
  "extends": [
    "canonical/react"
  ],
  "rules": {
    "filenames/match-regex": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-set-state": 0,
    "react/prefer-stateless-function": 0
  }
}
