:global {
  html,
  body {
    height: 100%;
  }

  body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;

    font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    background: #333;

    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    border: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h5 {
    font-weight: inherit;
    font: inherit;
  }

  li {
    list-style: none;
  }

  table {
    border-spacing: 0;
  }

  p + p {
    margin-top: 5px;
  }

  // @see https://stackoverflow.com/a/23211766/368691
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  // @see https://stackoverflow.com/a/36043286/368691
  input:not([type="radio"]):not([type="checkbox"]) {
    border-radius: 0;
  }

  #app {
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    flex-grow: 1;
  }

  #dashboard {
    margin: 20px;
    overflow: hidden;
  }
}

.tests {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;

  h2 {
    font-size: 16px;
  }

  .test {
    padding: 10px;

    & > * {
      margin: 10px;
    }
  }

  .description {
    border-bottom: 1px solid #fff;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .query-result {
    white-space: pre;
    background: #f6f8fa;
    color: #111;
    padding: 10px;
    font-family: 'Source Code Pro', monospace;
    max-height: 400px;
    overflow: scroll;
  }

  .show-query-result-button {
    white-space: pre;
    background: #f6f8fa;
    color: #111;
    padding: 10px;
    cursor: pointer;
    text-align: center;
  }

  .tags {
    overflow: hidden;

    li {
      display: inline-block;
      background: #860004;
      padding: 5px 10px;
      margin: 0 5px 5px 0;
    }
  }

  & > li {
    background: #d6292d;
    color: #fff;
    overflow: hidden;
  }
}

.all-tests-passing-message {
  background: #39aa55;
  color: #fff;
  padding: 20px;
  text-align: center;
}
